.products {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5px;
}

.reace-paginate {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 2rem;
}

.banner {
    display: flex;
    background-image: url('../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    justify-content: center;
    max-width: 1170px;
    min-height: 500px;

}

@media (max-width:1185px) {
    .products {
        justify-content: center;
    }
    .banner {
        min-height: 350px;
    }
}

@media (max-width:500px) {
    .products {
        gap: 50px;
       
    }

    .banner {
        min-height: 190px;
    }
}