@import '../Search/style.scss';

.product {
    margin-top: 20px;
    width: 230px;
    min-height: 322px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .image-product {
        width: 100%;
        transform: scale(1);
        transition: all 2s;
        overflow: hidden;

        :hover {
            transform: scale(1.1);
        }
    }

    .title-name {
        margin-bottom: 10px;
        text-align: center;
        min-height: 70px;

        :hover {
            color: rgb(66, 60, 60);
            text-decoration: underline;
        }
    }

    .price {
        text-align: center;
        font-size: 1.2rem;
        color: red;
        user-select: none;
    }

    .add-cart {
        display: flex;
        gap: 18px;
        border-radius: 10px;
        padding: 10px;

        :hover {
            background-color: $color-boder;
            color: #000;
        }

        button {
            font-size: 0.8rem;
            cursor: pointer;
            padding: 4px;
            border: 1px solid $color-boder;
        }
    }
}