@mixin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.form-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    .checkout-form {
        width: 50%;
        max-height: 550px;
        background-color: #f7f7f7;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .contact-info {
            display: flex;
            gap: 20px;

            .phone {
                flex: 1;
            }

            .email {
                flex: 2;
            }
        }

        form {
            label {
                display: block;
                margin-bottom: 8px;
            }

            input[type="text"],
            input[type="email"],
            input[type="number"] {
                height: 40px;
                @include input()
            }

            textarea {
                height: 70px;
                @include input()
            }

            button[type="submit"] {
                margin-top: 20px;
                background-color: #5e6063;
                color: #fff;
                border: none;
                border-radius: 3px;
                padding: 10px 20px;
                cursor: pointer;

                &:hover {
                    background-color: #323233;
                }
            }
        }
    }

    .checkout-content {
        width: 50%;
        &>div{
            font-weight: bold;
            font-size: 1.4rem;
        }
        .table-cart {
            height: 400px;
            overflow-y: scroll;
            padding: 10px;

            .form-items {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .form-img {
                    width: 100px;
                    height: 100px;
                }

                .form-title {
                    display: flex;
                    gap: 10px;
                    font-size: 0.9rem;

                    p {
                        font-weight: bold;
                    }
                }

                .form-price {
                    font-size: 1rem;
                    font-weight: bold;
                    color: red;
                }
            }
        }

        .total {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .title-total {
                font-weight: 600;
            }

            .price-total {
                font-size: 1.4rem;
                font-weight: bold;
                color: red;
            }
        }
    }
}

@media (max-width:900px) {
    .form-container {
        display: flex;
        flex-direction: column-reverse;

        .checkout-form {
            width: 100%;
        }

        .checkout-content {
            width: 100%;

            .table-cart {
                .form-items {
                    justify-content: space-around;

                    .form-title {
                        font-size: 1.2rem;
                    }

                    .form-price {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width:430px) {
    .form-container {
        display: flex;
        flex-direction: column-reverse;

        .checkout-form {
            width: 100%;
        }

        .checkout-content {
            width: 100%;

            .table-cart {
                .form-items {
                    justify-content: space-between;

                    .form-title {
                        display: grid;
                        gap: 2px;
                        font-size: 0.8rem;
                    }
                    .form-price{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}