.banner {
    display: flex;
    background-image: url('../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    justify-content: center;
    max-width: 1170px;
    min-height: 430px;
   
}
